/* src/components/PhotoAlbum.css */

.album-container {
    padding: 20px;
    text-align: center;
  }

  .photo-container {
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    background-color: #f4f1eb;
    
  }
  
  .photo-image {
    width: 500px; /* Default width */
    height: auto;
    border-radius: 5px;
  }
  
  .navigation-button {
    background-color: #f4f1eb;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .navigation-button:hover {
    background-color: #cedad2; /* Darker green on hover */
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .photo-image {
      width: 80%; /* Responsive image size */
    }
  
    .navigation-button {
      padding: 8px; /* Adjust button padding */
      font-size: 16px; /* Adjust font size */
    }
  }
  